<div class="row no-marging">
  <div class="col-12 no-padding">

    <mat-toolbar color="primary" role="header">
      <mat-toolbar-row>
        <mat-icon>business</mat-icon>
        <span class="app-title">Capa Planning</span>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-button>My planning</button>
        <button class="toolbar-button" mat-button>Team planning</button>
        <button class="toolbar-button" mat-button>Days off</button>
      </mat-toolbar-row>
    </mat-toolbar>

  </div>
</div>
