<section id="user-list">

  <div class="row justify-content-lg-center no-marging">
    <div class="col-sm-12 col-md-6 ">

      <mat-table #table [dataSource]="dataSource">

        <ng-container cdkColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef> FirstName </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef> LastName </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <mat-icon class="material-icons-red" (click)="deleteUser(user)">delete</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>

    <div class="w-100"></div>
    <div class="col-sm-12 col-md-6 ">
      <button color="primary" [routerLink]="[ '/createUser' ]" mat-raised-button>Create user</button>
    </div>
  </div>

</section>
