<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hello Test angular!</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="<%= static_path(@conn, "/dist/styles.css") %>">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
  
    <%= render @view_module, @view_template, assigns %>

    <script src="<%= static_path(@conn, "/dist/inline.bundle.js") %>"></script>
    <script src="<%= static_path(@conn, "/dist/polyfills.bundle.js") %>"></script>
    <script src="<%= static_path(@conn, "/dist/styles.bundle.js") %>"></script>
    <script src="<%= static_path(@conn, "/dist/vendor.bundle.js") %>"></script>
    <script src="<%= static_path(@conn, "/dist/main.bundle.js") %>"></script>
  </body>
</html>
