/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/**
General fix so the input will take all the available space from bootstrap col
*/
.mat-form-field {
  width: 100%
}

html,
body {
  height: 100%;
  margin: 0
}

.container-fluid {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: 0;
}

.no-marging {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #3F51B5;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 1.5em;
}

.section-title .mat-icon {
  padding-right: 10px;
}

.material-icons-red {
  color: red;
}


/**
Module user, does'nt work inside the module
*/

.work-day-checkbox label span {
  width: 6em;
}

/**

*/