<section id="user-list">

    <div class="row justify-content-lg-center no-marging">
      <div class="col-sm-12 col-md-6 ">
  
        <mat-table #table [dataSource]="dataSource">
  
          <ng-container cdkColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let project"> {{project.name}} </mat-cell>
          </ng-container>
  
          <ng-container cdkColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let project">
              <mat-icon class="material-icons-red" (click)="deleteProject(project)">delete</mat-icon>
            </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
        </mat-paginator>
      </div>
  
      <div class="w-100"></div>
      <div class="col-sm-12 col-md-6 ">
        <button color="primary" [routerLink]="[ '/createProject' ]" mat-raised-button>Create Project</button>
      </div>
    </div>
  
  </section>
  